.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px ;
    border: 1px solid #FFFFFF;
    gap: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin-bottom: 120px;
}
.tituloRow{
    color: #4A007F;
    font-family: "Lato",sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}
.linha{
    margin-bottom: 70px;
}

@media screen and  (min-width: 1280px) and (max-width: 1366px){
    .cards{
        width: 922.79px;
        height: 299.23px;
        margin: 0px 177.21px 86.24px 180px; 
       // background-color: palegoldenrod;
    }
    .tituloRow{
        font-size: 28px;
        left: 33.6px;
        margin:0  464.69px 0 457.41px;
      
    }
    .linha{
        width: 922.79px;
        top: 42px;
        left: 3px;
        margin: 8px 173px 49.59px 176.49px;
        
        
    }
}

@media screen and (min-width: 360px) and (max-width: 425px){
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        max-width: 100%;
    }
    .cards{
        margin: 0 39px;
    }
    .tituloRow{
        font-size: 14px;
        line-height: 16.8px;
    }
    .linha{
       width: 279.07px;
       margin: 5px 0 17px 0;
    }
}

/*

@media screen and (max-width: 425px){
    .tituloRows{
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .cards{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 320px) and (max-width: 360px){

}

@media screen and (max-width: 768px){
    .tituloRows{
        text-transform: uppercase;
    }

    .cards{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .cards{
        width: 85%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    .cards{
        width: 85%;
    }
}
*/