.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 1rem 0 10rem 0;

  &__tituloSquad{
    color: #4A007F;
    font-weight: 400;
    font-size: 101px;
    margin: 3rem 0 8rem 0;
  }
}
