.card{
    color:#FFFFFF;
    background-color: #816BD1;
    width: 20%;
    border-radius: 20px;
    font-size: 10px;
    padding:40px;
}
.tituloCard{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 1)   ;
}
.tituloCard img{
    width: 20px;
    height: 15px;
}
.card h1{
    font-size: 15px;
    margin-top: 5px 0 25px 0;
    padding-bottom: 13px;
}
.card p{
    font-size: 10px;
    padding-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 360px){
    .card {
        width: 75%;
    }
}

@media screen and (min-width: 361px) and (max-width: 425px){
    .card {
        width: 100%;
    }
    
    .tituloCard{
        align-items: center;
        justify-content: flex-start;
    }

    .tituloCard h1{
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
    }

    .card p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    .card{
        width: 75%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .card{
        width: 75%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    .card{
        width: 75%;
    }
}