@import "../../styles/variaveis.scss";

.card{
    color:#FFFFFF;
    background-color: #816BD1;
    width: 415px;
    height: 290px;
    border-radius: 30px;
    font-family: "Lato", sans-serif;
    gap: 18px;
    padding: 53px 31px 53px 31px;
}
.tituloCard{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 25px;
}
.tituloCard img{
    color: #FFFFFF;
}
.tituloCard .tituloTexto{
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: #FFFFFF;
}
.card p{
    border-top: 1px solid #FFFFFF  ;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
}
@media screen and  (min-width: 1280px) and (max-width: 1366px){
    .card{
        width: 298.25px;
        height: 208.42px;
        top: 92.25px;
        border-radius: 21.56px;
        padding: 38px 24px 38px 24px;
    }
    .tituloCard{
        gap:10.38px;
        display: flex;
        align-items: center;
        margin-bottom: 16.81px;
    }
    .tituloCard img{
        width: 18.17px;
        height: 14.89px;
        top: 4.68px;
        
    }
    .tituloCard .tituloTexto{
        width: 139.73px;
        height: 22px;
        //top: 130.34px;
        left: 364.9px;
        font-size: 18px;
        line-height: 21.6px;
        
    }
    .card p{
        top:177.05px;
        font-size: 14px;
        line-height: 23px;
        text-align: left;
        width: 263.03px;
        padding-top: 10px;
    }
}


@media screen and (min-width: 360px) and (max-width: 425px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-radius: 6.52px;
        background-color: $corSecundaria;
        width: 30%;
        height: 85px;
        padding: 9px 10px;
        gap: 4px;
    }
    
    .tituloCard {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 4px;
    }
    
    .tituloCard img {
        width: 9.46pxpx;
        height: 7.77px;
    }
    
    .tituloCard .tituloTexto {
        font-size: 8px;
        line-height: 9.6px;
        width: 60px;
    }
    
    .card p {
        font-size: 6px;
        line-height: 8px;
        text-align: left;
        padding-top: 4px;
        
    }
}


/*
@media screen and (min-width: 426px) and (max-width: 768px){
    .card{
        width: 75%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .card{
        width: 75%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    .card{
        width: 75%;
    }
}*/