@import "../../styles/variaveis.scss";

.cabecalho {
    background-color: #4A007F;
    display: flex;
    height: 110px;
}

.cabecalho img {
    margin-top: 70px;
    width: 91.19px;
    height: 101.76px;
    top: 71px;
    left: 317px;
    margin-left: 320px;
}

.home {
    display: flex;
    flex-direction: row-reverse;

}

.fotoHome-dente {
    width: 1233px;
    height: 966px;
    top: 173px;
    left: 687px;

}

.homeTexto {
    position: absolute;
    top: 460px; //350+110
    left: 320px;
    color: #4E3494;
}

.home h1 {
    width: 574.31px;
    height: 222px;
    top: 441px;
    left: 319px;
    font-family: "Lato", sans-serif;
    font-size: 101.48px;
    font-weight: 400;
    line-height: 110.52px;
    text-align: left;
}

.home h1 span {
    font-weight: 800;
}

.home p {
    width: 625.05px;
    height: 37px;
    font-weight: 400;
    font-size: 28px;
    line-height: 36.9px;
    margin-top: 28px;
}

.home p span {
    font-style: italic;
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {

    .cabecalho {
        height: 73.78px;
    }

    .cabecalho img {
        width: 61.17px;
        height: 68.25px;
        margin-top: 47.62px;
        margin-left: 182.63px;

    }

    .home {
        max-width: 100%;
        width: 1250px;
        margin: 0;
        overflow-x: hidden;
    }

    .home img {
        width: 827.05px;
        height: 647.96px;
        top: 116px;
        left: 27.77px;
    }

    .homeTexto {
        top: 300px;
        left: 178.34px;

    }

    .homeTexto h1 {
        width: 385.22px;
        height: 148px;
        left: 178.34px;
        font-size: 68px;
        line-height: 74.05px;
    }

    .homeTexto p {
        width: 419.26px;
        height: 25px;
        left: 177px;
        gap: 30.94px;
        font-size: 18px;
        line-height: 24.75px;

    }
}
@media screen and (min-width: 360px) and (max-width: 425px) {
    .cabecalho{
        width: 100%;
        height: 40px;
    }
    .cabecalho img{
        width: 40px;
        height: 40px;
        margin: 30px 0px 0 40px;        
       
    }
    .home{
        display: flex;
        flex-direction: row-reverse;
    }
    .home img{
        width: 231.19px;
        height: 181.13px;
        margin-top: 24.43px
    }
    .homeTexto{
       position: relative;
       top:70px;
       left: 39px;
    }
    .homeTexto h1{
        width: 120px;
        height: 48px;
        font-size: 22px;
        line-height: 23.96px;
    }
    .homeTexto p{
        width: 115px;
        height: 20px;
        gap: 8.65px;
        font-size: 10px;
        line-height: 10px;
        position: relative;
        bottom: 25px;
    }
    
}